@import 'my/style';

:host {
    padding: 0px 15px;
    flex-grow: 1;
    height: 100%;
    width: 90%;
}

.header-text {
    display: inline-block;
    padding: 3px;
}

.room-code {
    float: right;
    cursor: pointer;
}

.user-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}