@import 'my/style';


.input {
    width:calc(80% + 35px);
}

.input .label {
    padding:5px;
    text-align:left;
}


.input input {
    padding:10px;
    border: 2px solid rgb(223, 219, 219);
    border-radius:10px;
    font-size:25px;
    transition: all 0.3s ease;
    width:calc(100% - 24px);
    text-align:center;
    color:#313131;

}

.input input:focus {
    border: 2px solid rgb(79, 144, 179);
    background-color:rgba(245, 245, 245, 0.631);
    outline-width: 0;

}


.input input.error {
    border: 2px solid rgb(202, 43, 43);
    color:rgb(202, 43, 43)
}
